{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
    {{"<!-- logo -->" | safeHTML}}
    <!-- <a class="hero-area-logo" href="{{ .Site.BaseURL | absURL }}">
        <img src="{{ .Site.Params.logo | absURL }}" alt="Logo" />
    </a> -->
    <div class="container">
        <div class="row">
                <div class="hero-info col-md-6">
                        {{with .Site.Params.banner.subtitle}} <h2>{{ . }}</h2>{{ end }}
                        {{with .Site.Params.banner.heading}} <h1 style="font-size:3em;">{{ . }}</h1>{{ end }}
                        {{with .Site.Params.banner.content}} <p>{{ replace . "\n" "<br/>" | safeHTML }}</p> {{ end }}
                        {{ if .Site.Params.banner.btn}}
                            <a data-scroll href="{{ .Site.Params.banner.btnURL}}" class="btn btn-transparent" id="landingpage-submit">{{ .Site.Params.banner.btnText}}</a>
                        {{ end }}
                </div>
        </div>
    </div>
</section>
{{ if .Site.Params.banner.arrow.enable }}
<section id="arrow" class="hero-area-arrow">
    <a href="#about"><span></span><span></span><span></span></a>
</section> 
{{ end }}
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}